* {
    margin: 0;
    padding: 0;
    text-align: center ;
}

h1 {
    background-color: #023047;
    color: whitesmoke;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.choice {
    height: 160px;
    width: 160px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 50% ;

}
img {
    height: 160px;
    width: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.choice:hover {
    border: 3px solid rgb(240, 19, 19);
    opacity: 75%;

}

.scoreBox , .choiceBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    font-size: 1.5rem;
    gap: 50px;
}
.score {
    margin: 15px;
}

#userScore , #compScore ,#userChoice , #compChoice {
    font-size: 3rem;
}
.msgBox {
  
    display: flex;
    justify-content: center;

}
#msg {
    background-color: #023047;
    font-size: 22px;
    color: whitesmoke;
    padding: 5px 20px ;
    border-radius: 5px;
}
